/* /Components/ProjectCard.razor.rz.scp.css */
.img-fluid[b-yzw2jsl7y0] {
    background-size: cover;
}

.card[b-yzw2jsl7y0] {
    transition: transform 0.25s;
}

.card:hover[b-yzw2jsl7y0] {
    transform: scale(1.05);
}

.card-title[b-yzw2jsl7y0] {
    display: inline-block;
}

.card-title[b-yzw2jsl7y0]:after {
    content: '';
    border-bottom: 1px solid #ff4d5a;
    display: block;
}
/* /Components/ProjectModal.razor.rz.scp.css */
[b-vpouwt66dr] section .d-flex.flex-grow-1 {
    width: 100%;
}
/* /Components/SkillCard.razor.rz.scp.css */
.skill-item[b-oelhernxdn] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 150px;
    border-image-slice: 1;
    transition: transform 0.2s, opacity 1.2s;
    overflow: hidden;
}

.skill-item i[b-oelhernxdn] {
    font-size: 45px;
}

@media (max-width: 500px) {
    .skill-item[b-oelhernxdn]{
        width: 100px;
        font-size: 12px;
    }

    .skill-item i[b-oelhernxdn] {
        font-size: 40px;
    }
}

@media (max-width: 400px) {
    .skill-item[b-oelhernxdn]{
        height: 95px;
        width: 90px;
        font-size: 11px;
    }

    .skill-item i[b-oelhernxdn] {
        font-size: 36px;
    }
}
/* /Pages/Index.razor.rz.scp.css */
section[b-bl3rrt3nv1] {
    margin-top: 30px;
}

.content[b-bl3rrt3nv1] {
    font-size: 1rem;
}

#contact a:hover[b-bl3rrt3nv1] {
    transition: transform 0.25s;
    transform: scale(1.1);
    color: #ff4d5a;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-1vlcskuc8v] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1vlcskuc8v] {
    flex: 1;
}

.sidebar[b-1vlcskuc8v] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-1vlcskuc8v] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-1vlcskuc8v]  a, .top-row[b-1vlcskuc8v]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-1vlcskuc8v]  a:hover, .top-row[b-1vlcskuc8v]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-1vlcskuc8v]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-title[b-1vlcskuc8v] {
    color: #faaf19;
    background: transparent;
}

.header-background[b-1vlcskuc8v] {
    background-image: url(images/bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    padding: 5vw;
    height: 40vw;
    text-align: center;
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, transparent);
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, transparent);
}

.footer[b-1vlcskuc8v] {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: #282828;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-1vlcskuc8v] {
        display: none;
    }

    .top-row.auth[b-1vlcskuc8v] {
        justify-content: space-between;
    }

    .top-row[b-1vlcskuc8v]  a, .top-row[b-1vlcskuc8v]  .btn-link {
        margin-left: 0;
    }

    .header-background[b-1vlcskuc8v] {
        height: 55vw;
        padding: 2vw;
    }
}

@media (min-width: 641px) {
    .page[b-1vlcskuc8v] {
        flex-direction: row;
    }

    .sidebar[b-1vlcskuc8v] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1vlcskuc8v] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-1vlcskuc8v]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-1vlcskuc8v], article[b-1vlcskuc8v] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-kujckncdpz] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-kujckncdpz] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-kujckncdpz] {
    font-size: 1.1rem;
}

.oi[b-kujckncdpz] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-kujckncdpz] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-kujckncdpz] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-kujckncdpz] {
        padding-bottom: 1rem;
    }

    .nav-item[b-kujckncdpz]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-kujckncdpz]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-kujckncdpz]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-kujckncdpz] {
        display: none;
    }

    .collapse[b-kujckncdpz] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
