@using PersonalSite.Extension
@using PersonalSite.Models

@inject NavigationManager NavigationManager

<div class="card-deck row">
    @foreach (Blog blog in _blogs)
    {
        <div class="card text-white bg-dark col-12 col-lg-4 col-md-6">
            <div class="card-body">
                <h5 class="card-title mb-5">@blog.Title</h5>
                <p class="card-text">
                    @blog.Description
                </p>
                @{
                    var blogPath = $"Blog/{blog.Id}";
                }
                <a @onclick='() => NavigationManager.NavigateTo(blogPath)' class="card-link cursor-pointer">Read more..</a>

                <p class="card-text">
                    <small class="text-muted">Created @blog.CreatedDateTime.GetRelativeTime()</small>
                </p>
            </div>
        </div>
    }
</div>