@using PersonalSite.Models
<div class="col-sm-6 d-flex justify-content-center">
    <div class="card mb-3 gradient-border" style="max-width: 540px;">
        <div class="row g-0 h-100">
            <div class="col-md-4">
                <div style="background-image: url(@Project.Image)" class="img-fluid rounded-start h-100">
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Project.Title</h5>
                    <p class="card-text">@Project.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; }
}