::deep .project-description {
    white-space: pre-wrap;
}

::deep section .d-flex.flex-grow-1 {
    width: 100%;
}

::deep .project-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

::deep .techs-container i {
    font-size: 30px;
}