.img-fluid {
    background-size: cover;
}

.card {
    transition: transform 0.25s;
    white-space: pre-wrap;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    display: inline-block;
}

.card-title:after {
    content: '';
    border-bottom: 1px solid #ff4d5a;
    display: block;
}