<h1 class="header text-white">@Title</h1>

<style>
h1{
    z-index: 1;
    font-weight: 700;
}
    .header:after {
        content: '';
        border-bottom: 18px solid #ff4d5a;
        display: block;
        position: relative;
        top: -1.1rem;
        left: 1.2rem;
        z-index: -1;
    }
</style>