@using PersonalSite.Extension
<div class="skill-row d-flex flex-column justify-content-center">
    @foreach (var skill in Skills)
    {
        <SkillCard Skill="@skill.GetDescription()"/>
    }
</div>

@code{
    [Parameter] public List<Technology> Skills { get; set; }
}