@page "/Blogs"
@using PersonalSite.Components
@inject NavigationManager NavigationManager

<div class="container mb-5 pb-5">
    <h2 class="title pb-5 mb-5 d-flex align-items-center">
        <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium me-2 cursor-pointer"
                 Icon="@Icons.Material.Filled.KeyboardBackspace"
                 Color="@Color.Default" Size="Size.Large"
                 @onclick='() => NavigationManager.NavigateTo("/")'/>
        Blogs
    </h2>
    <BlogDeck/>
</div>