<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center ms-4" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex w-50 justify-content-evenly">
            <li class="nav-item">
                <a class="nav-link cursor-pointer" @onclick='() => HandleClick("about")'>About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cursor-pointer" @onclick='() => HandleClick("projects")'>Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cursor-pointer" @onclick='() => HandleClick("contact")'>Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cursor-pointer" @onclick='() => NavigationManager.NavigateTo("Blogs")'>Blogs</a>
            </li>
        </ul>
    </div>
</nav>